<h1>This is my index</h1>
<div>
    {{#each games}}
    <div>Game Title: {{title}}</div>
    {{!-- <div><button class="delete-cat" data-id={{id}}>Delete this cat</button></div> --}}
    {{/each}}
</div>